@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#particles-js {
    position: absolute; 
    width: 100%; 
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F4F7;
    overflow-x: hidden;
    position: relative;
}

.bg-light {
    background-color: #F2F4F7 !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #E43A19;
}

.navbar-nav .dropdown-menu {
    margin-bottom: 10px;
}

.active a {
    color: #E43A19 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #111F4D;
    font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #E43A19;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #E43A19;
}

.navbar-btn {
    display: block;
    margin-bottom: 10px;
}

.navbar-btn:first-of-type {
    border: 1px solid #E43A19;
    color: #E43A19;
    width: 136px;
}

.navbar-btn:last-of-type, .viewmore {
    color: white;
    background-color: #E43A19;
    width: 104px;
}

.navbar-light .navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(228, 58, 25)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
    border: none;
}

.hero {
    background-color: #111F4D;
    color: white;
    padding-top: 100px;
    padding-bottom: 73px;
    position: relative;
}

h4, .hero p{
    font-weight: 300;
}

h2 {
    font-weight: 600;
}

h4:last-of-type {
    font-weight: 500;
}

.hero p:nth-of-type(2),
 .hero p:nth-of-type(3),
  .hero img{
    display: none;
}

.container-fluid span {
    font-weight: 600;
}

.service {
    width: 337px;
    height: 99px;
    background: #F2F4F7;
    box-shadow: 1px 2px 9px rgba(55, 20, 153, 0.1);
    border-radius: 8px;
    color: #111F4D;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
}

.service p {
    text-align: center;
    font-weight: 300;
}

.service p span {
    font-weight: 500;
}

.service svg {
    align-self: center;
    
}

.services {
    margin: 32px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service {
    margin-bottom: 16px;
}

.about__detail,
 .portfolio__detail,
  .client__detail,
   .testimonial__detail {
    margin: auto 17px 50px;
}

.contact__detail,
 .skills__detail {
    margin-bottom: 50px;
}

.about__detail hr,
 .skills__detail hr,
  .portfolio__detail hr,
   .client__detail hr,
    .testimonial__detail hr,
     .contact__detail hr {
    width: 38px;
    border: 1px solid #E43A19;
    display: inline-block;
    position: relative;
    top: 10px;
}

.about__detail h6,
 .skills__detail h6,
  .portfolio__detail h6,
   .client__detail h6,
    .testimonial__detail h6,
     .contact__detail h6 {
    display: inline-block;
    color: #E43A19;
    font-weight: 300;
    font-size: 16px;
}

.about__detail h5,
 .skills__detail h5,
  .portfolio__detail h5,
   .client__detail h5,
    .testimonial__detail h5,
     .contact__detail h5 {
    font-size: 18px;
    color: #111F4D;
}

.about__detail p,
 .skills__detail p,
  .portfolio__detail p,
   .client__detail p,
    .testimonial__detail p,
     .contact__detail p {
    color: #020205;
    font-size: 15px;
}

.skills__rating p {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #020205;
}

.progress {
    height: 8px;
    background-color: rgba(0, 0, 0, 0.25);
}

.progress-bar {
    border-radius: 8px;
    background-color: #E43A19;
}

.skill-box h6 {
    margin-top: 20px;
    font-weight: 600;
    color: #111F4D;
}

.skill-box {
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
}

.skill-box__item {
    width: 237px;
    height:194px;
    background-color: #F2F4F7;
    margin: 25px;
    box-shadow: 1px 2px 4px rgba(25, 61, 115, 0.1);
    border-radius: 8px;text-align: center;
    padding: 40px;
}

.credits {
    background-color: #111F4D;
    color: #F2F4F7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.credits-wrapper {
    text-align: center;
}

.credits-wrapper span {
    display: block;
    font-weight: 300;
    margin-top: 15px;
}

/*slider container*/
.container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.hire {
    background-color: #111F4D;
    color: #F2F4F7;
    padding: 61px 23px;
    text-align: center;
    margin-top: 50px;
}

.hire p {
    font-size: 12px;
}

.testimonial-wrapper .slide {
    background-color: #111F4D;
    border-radius: 8px;
    color: white;
    padding: 30px;
}

.slide span {
    color: #E43A19;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    display: block;
}

.contact__detail svg {
    margin-right: 16px;
}

.contactform {
    width: 100%;
    padding: 10px;
    margin: auto 15px;
}

.form-container__textinput,
 .form-container__emailinput,
  .form-container__phoneinput {
    width: 100%;
    height: 50px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    padding: 13px 16px;
    margin-bottom: 10px;
    background-color: transparent;
}

textarea {
    width: 100%;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    padding: 13px 16px;
    background-color: transparent;
}

footer {
    background-color: #111F4D;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 24px;
    font-size: 7px;
}

/*********MEDIA QUERY*********/

@media screen and (min-width: 768px) {
    #brand-icon {
        margin-left: 140px;
    }

    .navbar-btn {
        margin-right: 20px;
    }

    .nav-item {
        margin-right: 30px;
    }

    .hero-intro  {
        margin-left: 140px;
        align-self: center;
    }

    .hero p:nth-of-type(1) {
        margin-top: 24px;
        width: 608px;
    }

    .hero p:nth-of-type(2) {
        display: inline-block;
        margin-right: 67px;
    }

    .hero p:nth-of-type(3) {
        display: inline-block;
    }

    .hero-btn {
        margin-top: 24px;
        width: 104px;
        height: 37px;
    }

    .hero img{
        display: initial;
    }

    #navbarSupportedContent {
        padding-right: 100px;
    }

    .hero {
        padding-bottom: 0px;
    }

    .services {
        margin: 32px 140px;
        justify-content: space-between;
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 60px 140px;
    }

    .portfolio__detail,
     .client__detail,
      .testimonial__detail {
        width: 449px;
        align-self: center;
        margin-left: 73px;
    }

    .about__detail {
        width: 449px;
        align-self: center;
        margin: 0;
    }

    .portfolio__detail {
        margin-left: 140px;
    }

    .testimonial__detail,
     .client__detail{
        margin-left: 170px;
    }

    .skills__detail,
     .contact__detail {
        margin-left: 0px;
    }

    .about__detail h5,
     .skills__detail h5,
      .portfolio__detail h5,
       .client__detail h5,
        .testimonial__detail h5,
         .contact__detail h5 {
        font-size: 32px;
        color: #111F4D;
        font-weight: bold;
    }

    .skills__title,
     .contact__title {
        transform: rotate(-90deg);
        position: absolute;
        left: -70px;
        top: 40px;
    }

    .portfolio__title,
     .client__title,
      .testimonial__title {
        transform: rotate(-90deg);
        position: relative;
        left: -250px;
        bottom: 95px;
    }

    .about__title {
        transform: rotate(-90deg);
        position: relative;
        left: -250px;
        bottom: 75px;
    }

    .skills-wrapper {
        margin: auto 140px 107px;
        justify-content: space-between;
    }

    .skill-box {
        align-self: center;
    }

    .skill-box__item {
        width: 237px;
        height:194px;
        background-color: #F2F4F7;
        margin: 0px;
        box-shadow: 1px 2px 4px rgba(25, 61, 115, 0.1);
        border-radius: 8px;
    }

    .skill-box__item:nth-of-type(2) {
        margin : 18px 0px 18px 18px;
    }

    .skill-box__item:nth-of-type(3) {
        margin-top: -18px;
    }

    .skill-box__item:nth-of-type(4) {
        margin-left : 18px;
    }

    .credits {
        padding: 40px 200px;
    }

    .credits-wrapper {
        width: 100px;
    }
    
    .hire {
        background-color: #111F4D;
        color: #F2F4F7;
        padding: 106px;
        text-align: center;
    }

    .hire h6 {
        font-size: 32px;
    
    }

    .hire p {
        font-size: 16px;
    }
    
    .contactform {
        margin-top: 40px;
    }

    input[value="Send"] {
        float: left;
    }

    footer {
        padding: 23px;
        margin-top: 120px;
        font-size: 12px;
    }

    .testimonial-slider--wide,
     .slider,
      .contact--wide {
        margin: auto 140px;
    }

/*this targets the links...if img is targeted,
 margin-right won't work for some reason...*/
    .space a {
        margin-bottom: 0.550vw;
        margin-right: 1.3vw;
     }

     .gallery {
        margin: auto 140px;        
    }
}


@media screen and (max-width: 768px) {
    .about img {
        width: 280px;
        margin: auto;
        display: block;
    }

    .navbar-collapse .navbar-btn:first-of-type,
        .navbar-collapse .navbar-btn:last-of-type {
        width: 100%;
    }

    .gallery {
        flex-wrap: wrap;
        
    }

    .space img {
        margin-bottom: 20px;
        max-width: 330px;
    }
}

/*newer styles*/
.slick-dots {
    margin-bottom: -10px !important;
}

